@import "variables";

.card-header {
  @include display-flex(row);
  padding-top: 10px;
  width: 90%;
}

.card {
  @include display-flex(column);
  background-color: #b5834f;
  border-radius: 20px;
  height: 400px;
  margin: 10px;
  padding: 4px;
  width: 300px;
}

.country-info {
  @include display-flex(column);
  font-size: 1.1rem;
  width: 80%;
}

.country-flag {
  width: 35%;
}

.country-name {
  margin-bottom: 0;
}

.continent-name {
  margin-top: 0;
}

.card-stats-container {
  align-items: unset;
  font-size: 1.2rem;
  height: 80%;
  padding: 10px;
}

.star-button,
.delete-button {
  border: 1px solid transparent;
  height: 30px;
  margin-top: 0;
  opacity: 1;
  transition: opacity 0.6s;
  width: 34px;
  &:hover {
    opacity: 0.3;
  }
}

.star-button {
  color: white;
}
